.header{
    /* background: #FF534B; */
    background-color: #0E0D23;
    padding: 0;
    margin: 0;
}
.hamburgerIcon{
    z-index: 0;
    display: none;
}

.nav {
    display: flex;
}
.logo img{
    width: 160px;
}
.brand{
    margin-top: 20px;
}
.list{
    display: flex;
    text-decoration: none;
    margin-left: 350px;
    cursor: pointer;
}
.list li{
    list-style: none;
    padding-left: 20px;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    padding: 18px;
    border-bottom: 1px solid transparent;

}
.list li:hover{
    border-bottom:1px solid #fff;
}


/*  */
@media (max-width:576px) {
    .blogs{
        display: none;
    }
    .logo img{
        height: 35px;
        font-size: 30px;
        margin-bottom: 20px;
       
    }
    .logo{
        text-align: center;
        
    }
    .hamburgerIcon{
        display: inline-block;
        position: absolute;
        right: 10px;
        top: 20px;
        background: #0E0D23;
        color: #fff;
        font-size: 2rem;
        outline: none;
        border: transparent;
    }
   
}