.bg{
 /* background:linear-gradient( #FF534B, #F66E54,#FD6D64); */
 background-color: #fff;
 padding: 0;
 margin: 0;
 /* position: relative; */
 bottom: 25px;
 max-width: 100%;
 color: #000;
}
.landingPage{
    display: flex;
    padding-top: 200px;
}
 
.textPage h6{
    margin-top: -4px;
    letter-spacing: 1px;
    font-size: 18px;
    margin-bottom: 40px;
    text-transform: capitalize;
    font-weight: 300;
}
.textPage .h1{
    padding-bottom: 20px;
    position: relative;
    margin-bottom: 45px;
    font-size: calc(22px +(45 -22) * ((100vw - 300px) / 1920 - 300));
    line-height: 1.4;
    text-transform: capitalize;
    margin-top: 40px;
    font-weight: 800;
    letter-spacing: 2px;
    margin-top: -7px;
}
.textPage span {
    font-weight: 600;
}
.textPage hr {
    background: #000;
    width: 90px;
    height: 3px;
    position:relative;
    bottom: 40px;
    right: 255px;
}
.textPage p {
    font-size: calc(13px + (16 - 13) * ((100vw - 300px) / (1920 - 300)));
    font-weight: 300;
    margin-bottom: -3px;
    line-height: 1.8;
    margin-top: -7px;

}
.list {
    display: flex;
    padding: 0;
    margin: 0;
    margin-top: 50px;
}
.list li {
    list-style: none;
    padding-right: 35px;
    font-weight: 400;
    font-size: 14px;
}
/* .btn{
    font-size: calc(13px + (16 - 13) * ((100vw - 300px) / (1920 - 300)));
    border-radius: 50px;
} */
.btnWhite img{
    /* text-transform: uppercase;
    letter-spacing: 1px;
    padding: 15px 40px;
    background: #fff;
    border: 2px solid #fd6f64;
    color: #fd6f64 !important;
    outline: transparent; */
    width: 172px;
    height: 55px;
     
}
.btnBlack{
    /* text-transform: uppercase;
    letter-spacing: 1px;
    padding: 15px 40px;
    background: transparent;
    border: 2px solid #000;
    color: #000 !important;
    outline: transparent; */
}
.landingImg {
    margin-right: 130px;
}
.landingImg img{
    width: 510px;
    height: 601px;
}
 

/*  */
@media (max-width:576px) {
    .landingImg{
        /* display: none; */
    }
    .textPage{
        font-size: 15px;
    }
    .textPage .h1{
        font-size: 15px;
        margin-bottom: 0;
        width: 232px;
        margin-right: 0;
        font-weight: 500;
    }
    .landingPage{
        padding-top: 50px;
        /* text-align: center; */
    }
    .landingImg img{
        width: 130px;
        height: 153px;
        position: relative;
        right: 35px;
    }
    .list{
        display: flex;
        /* flex-direction: column; */
        margin-bottom: 60px;
        padding-right: 0;
        justify-content: center;
       
    }
    .btn img{
        width: 100px;
        height: 29px;
    }
    .pd{
        width: 100px;
        height: 29px;
    }
    .list li{
        padding-right: 0;
        /* padding-bottom: 0; */
    }
    .textPage h2{
        font-size: 10px;
        font-weight: 400;
    }
    .pd{
        padding-right: 25px !important;
        margin-left: 30px;
    }
    .list a{
        padding: 15px 20px;
    }
    .bg{
        bottom: 0;
    }
    .text{
        width: 232px;
    }
}