.app{
    display: flex;
    padding-left: 13%;
    padding-top: 70px;
}
.imgPage img{
    /* position: absolute; */
    width: 355px;
    /* right: 0; */
    
}
.textPage{
    padding-left: 10px;
    padding-top: 60px;
}
.workText{
    position: relative;
    letter-spacing: 1px;
    font-weight: 500;
    margin-left: 60px;
    margin-bottom: 25px;
    font-size: 25px;
    color: #0E0D23;
    font-weight: 700;
    /* font-size: 14px; */
    text-align: center;
    padding-top: 80px;
    text-transform: uppercase;
}
.textPage h3{
    font-size: calc(20px + (30 - 20) * ((100vw - 300px) / (1920 - 300)));
    margin-top: 0;
    line-height: 0.8;
    /* margin-top: 30px; */
    font-weight: 500;
    text-transform: capitalize;
    margin-bottom:  50px;
    color: #434345;
}
.textPage .p {
    margin-bottom: 35px;
    letter-spacing: 0;
    color: #949494;
    font-size: calc(13px + (14 - 13) * ((100vw - 300px) / (1920 - 300)));
    font-weight: 400;
    margin-top: -7px;
    line-height: 1.8;
}
.list{
    display: flex;
    padding-left: 0;
}
.list li{
    list-style: none;
}
.iconAbout {
    margin-left: 0;
    margin: 0 18px;
    filter: drop-shadow(0 0 10px #eee);
    border-radius: 20px;
    background-color: #fff;
    transition: 0.5s;
    font-weight: 400;
    line-height: normal;
    font-size: 14px;
   
}
.iconAbout a{
    padding: 18px 20px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
}
.btn:hover{
    transition: all 0.4s ease-in-out;
    color: #fff !important;
    background-position: 100% 0;
    text-decoration: none;
}
.btn{
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 15px 40px;
    border: transparent;
    position: relative;
    color: #fff;
    background-color: #0E0D23;
    background-size: 300% 100%;
    border-radius: 40px;
    position: relative;
    top: 40px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    line-height: 1.5;
    user-select: none;
    /* background-image: linear-gradient(to right,#F66E54,#F66E54,#F66E54,#F66E54); */
}
@media (max-width:576px) {
    .app{
        display: flex;
        padding-left: 5px;
        padding-top: 10px;
    }
    .btn{
        margin-bottom: 30px;
    }
    .workText{
        font-size: 15px;
    }
    .textPage{
        /* text-align: center; */
        /* margin-bottom: 0; */
    }
    .textPage h3{
        margin-bottom: 20px;
        font-size: 15px;
        line-height:1;
    }
    .list{
        display: none;
    }
    .iconAbout{
        width: 75px;
        height: 71px;
    }
    .imgPage img{
        width: 90px;
        height: 163px;
    }
    .imgPage{
        text-align: center;
    }
}