.bg {
  padding: 0;
  margin: 0;
  max-width: 100%;
  display: flex;
  color: #000;
}
.containd {
  width: 100%;
  display: block;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}
.textSide {
  flex: 0 0 50%;
  background-color: #e5e5e5;
  color: #1d1937;
}
.imagesSide {
  flex: 0 0 50%;
  background-color: #57b3b1;
}
.imagesSide img {
  position: relative;
  right: 180px;
}
.textPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 200px;
  padding-left: 20%;
}
.textPage .h1 {
  font-weight: 700;
  line-height: 48px;
  font-size: 32px;
  text-transform: uppercase;
  color: #1d1937;
}
.text {
  width: 305px;
}
.text hr {
  height: 4px;
  background-color: #1d1937;
  position: relative;
  bottom: 15px;
}
.landingPage h4 {
  color: #1d1937;
  font-style: 18px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 0;
}

.list {
  display: flex;
  padding: 0;
  margin: 0;
  margin-top: 50px;
}
.list li {
  list-style: none;
  padding-right: 8px;
  font-weight: 400;
  font-size: 14px;
}
.pd {
  margin-right: 20px;
}
.landingImg {
  padding-top: 90px;
  padding-bottom: 90px;
  padding-left: 90px;
}
.phone {
  display: none;
}
/*  */
@media (max-width: 576px) {
  .bg {
    flex-direction: column;
  }
  .phone1 {
    display: none;
  }
  .phone {
    display: block;
  }
  .imagesSide img {
    right: 0;
    width: 100%;
  }
  .landingImg {
    padding-left: 16px;
    padding-right: 19px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .textPage {
    padding-top: 0;
    padding-left: 0;
  }
  .text hr {
    border: transparent;
    width: 229px;
    position: relative;
    right: 35px;
  }
  .list {
    margin-top: 20px;
    padding-bottom: 40px;
  }
  .pd {
    margin-right: 0;
  }
  .textPage .h1 {
    font-size: 24px;
    line-height: 40px;
    font-weight: 700;
  }
  .textPage h4 {
    margin-top: 0;
  }
}
/* @media (max-width: 1400px) {
  .landingImg {
    padding-left: 0;
  }
  .imagesSide img {
    right: 50px;
  }
  .container {
    padding-left: 0 !important;
    padding-right: 0 !;
  }
}
@media (max-width: 1400px) {
  .textPage {
    position: relative;
    right: 100px;
  }
} */
