.footer{
    background-color: #0E0D23;
    /* background: url('../../public/images/l-2-footer.png'); */
    /* height: 70vh; */
}
.row{
    display: flex;
    /* padding-top: 200px; */
    /* padding-left: 50px; */
    /* padding-right: 180px; */
    flex-direction: column;
    /* cursor: pointer; */
    /* padding-bottom: 150px; */
    background: #0E0D23;
}
.list{
    display: flex;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    align-items: center;
    /* margin-left: 0px; */
    cursor: pointer;
}
.list li{
    list-style: none;
    padding-left: 20px;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    padding: 18px;
    
}
.list li:hover{
    text-decoration: underline;
}
/* .list li:hover{
    border-bottom: 1px solid #fff;
} */
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.logo img{
    width: 160px;

}
.about{
    display: none;
}
.lastText{
    display: flex;
    justify-content:space-between;
    padding-top: 40px;
}
.text{
    /* display: flex; */
    color: #fff;
    /* justify-content: end; */
    /* padding-top: 70px; */
    font-size: 16px;
    line-height: 1.5;
    opacity: 0.8;
    font-weight: 400;
    /* text-align: center; */
    /* padding-bottom: 80px; */
}
.ownerText{
    color: #ebebeb;
    /* position: relative; */
    top: 100px;
    opacity: 0.8;
    font-size: 16px;

}
.udevs:hover{
    text-decoration: underline;
}
/* .text{
    margin-bottom: 30px;
    width: 255px;

}
.text p {
    letter-spacing: 0;
    padding-top: 50px;
    margin-bottom: -3px;
    padding-right: 50px;
    color: #fff !important;
    font-size: calc(13px + (14 - 13) * ((100vw - 300px) / (1920 - 300)));
    font-weight: 400;
    margin-top: -7px;
    line-height: 1.8;
}
.header{
    color: #fff;
    padding-bottom: 55px;
    letter-spacing: 1px;
    line-height: 20px;
    font-weight: 500;
    text-transform: capitalize;
    margin-top: 0;
    margin-bottom: 0;
    font-size: calc(14px + (16 - 14) * ((100vw - 300px) / (1920 - 300)));
}
.postList{
    margin-bottom: -10px;
}
.linksBtn{
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 255px;
    text-transform: capitalize;

    
}
.hr{
    display: none;
}
.light{
    width: 100%;
    position: relative;
    bottom: 20px;
}
.contactInfo li{
    margin-bottom: 35px;
    display: flex;
    line-height: 1.2;
    color: #fff;
    font-weight: 400;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 14px;
}
.lists a{
    font-weight: 300;
    color: #fff;
    font-size: calc(13px + (14 - 13) * ((100vw - 300px) / (1920 - 300)));
    text-decoration: none;
    background: transparent;
}
.linksBtn li{
    padding: 8px 20px;
    border:1px solid rgba(255,255,255,0.34);
    opacity: 0.8;
    border-radius: 0.8;
    margin-right: 8px;
    display: inline-block;
    margin-bottom: 10px;
    font-weight: 400;
    margin-top: 0;
    font-size: 14px;
    list-style: none;
    cursor: pointer;
    color: #fff;
    
}

.link{
    list-style: none;
    padding: 0;
    margin: 0;
}
.lists{
    margin-bottom: 10px;
    color: #fff;
    text-transform: capitalize;
    font-weight: 400; */
    /* margin-top: 0;
    font-size: 14px;

} */
/* .contactInfo{
    list-style-type: none;
    padding: 0;
    margin: 0;
    
}
.contact{
    padding-left: 45px;
} */

@media (max-width:576px){
    .container{
        padding: 0 !important;
        text-align: center;
    }
    .row{
        display: inline-block;
        padding-bottom: 0;
        padding-top: 10px;
        padding-left: 10px;
        /* background: #0E0D23; */
        padding-right: 0;
        
    }
    .hr{
        display:block;
        /* background-color: #000; */
        width: 100%;
    }
    .footer{
        background-image: none;
        margin-top: 50px;
        /* background:linear-gradient(#FF534B, #fd6d64, #F66E54); */
        background: #0E0D23;
    }
    .logo img{
        width: 80px;
    }
    .about{
        display: inline-block;
        padding-bottom: 5px;
        /* position: relative;
        bottom: 50px;
         */
    }
    .contact{
        padding-left: 0px;
    }
    .text p{
        padding-top: 25px;
       
    }
    .text{
        width:345px;
    }
    .linksBtn{
        width: auto;
    }
    .postText{
        padding-bottom: 20px;
    }
    .blogs .list{
        flex-direction: column;
        padding-left: 0;
    }
    .ownerText{
        font-size: 13px;
    }
    .text{
        font-size: 13px;
    }
    .lastText{
        flex-direction: column;
        text-align: center;
    }

}