.footer {
  background-color: #fff;
  margin: 0;
  padding: 0;
}
.row {
  display: flex;
}
.textSide {
  padding-top: 40px;
  padding-bottom: 40px;
  position: relative;
  right: 40px;
}
.list {
  display: flex;
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 10px;
}
.list li {
  list-style: none;
  padding-right: 40px;
  position: relative;
  right: 40px;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  color: #1d1937;
  line-height: 100%;
}
.textMuno {
  color: #1d1937;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}
.list li:hover {
  text-decoration: underline;
}
.payment {
  padding-top: 40px;
  padding-left: 100px;
}
.visa {
  position: relative;
  bottom: 5px;
}
.icon a {
  padding-right: 40px;
}
.socialMedia {
  padding-top: 30px;
}
.google {
  padding-left: 20px;
}
@media (max-width: 576px) {
  .row {
    flex-direction: column;
  }
  .textSide {
    right: 0;
    padding-bottom: 0;
  }
  .textSide .brand {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .list {
    flex-direction: column;
  }
  .list li {
    font-weight: 500;
    font-style: 14px;
    line-height: 14px;
    color: #1d1937;
    line-height: 100%;
    padding-left: 80px;
    padding-bottom: 20px;
  }
  .blogs {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .google {
    padding-left: 10px;
  }
  .textMuno {
    display: none;
  }
  .payment {
    padding-top: 0;
    padding-left: 0;
    text-align: center;
  }
  .icon a {
    padding-right: 20px;
  }
  .socialMedia {
    text-align: center;
  }
}
/* @media (max-width: 1400px) {
  .textSide {
    right: 0;
  }
}
@media (max-width: 1350px) {
  .textSide {
    padding-left: 60px;
  }
} */
