.mobileBlock {
  display: none;
  background: #e5e5e5 !important;
  opacity: 1;
  position: fixed;
  z-index: 9999;
  color: #1d1937;
}

.pageChild li {
  border-bottom: none;
  margin: 0;
  font-size: 18px;
}
.close {
  padding-top: 20px;
  color: #fff;
  width: 100%;
}
.hasChild:hover .pageChild {
  visibility: visible;
  z-index: 100;
  opacity: 1;
  position: static;
}
.pageChild {
  position: absolute;

  right: 0;
  list-style-type: none;
  margin: 0;
  opacity: 0;
  visibility: hidden;
  background: transparent;

  transition: opacity 0.2;
}
.pageChild::before {
  display: block;
  content: '';
  height: 28px;
  margin-top: -20px;
  -ms-transform: translate(30px, -36px);
  transform: translate(30px, -36px);
  background-color: transparent;
}
.pageChild li {
  margin-bottom: 18px;
  color: var(--text-color);
  transition: all 0.25s;
}
.pageChild li:hover {
  color: var(--primary-color);
}
.pageChild li:last-child {
  margin-bottom: 0;
}

.top ul {
  display: inline;
  font-size: 18px;
  font-weight: 500;
  padding: 0;
}
.top li {
  padding: 14px 20px;
  width: 100%;
}
.top li {
  list-style: none;
}
.hasChild a {
  text-decoration: none;
  color: inherit;
  font-weight: 700;
  font-style: 18px;
  line-height: 18px;
}

.bottom ul {
  display: inline;
  font-size: 13px;
}
.bottom li {
  padding: 14px 20px;
  text-transform: uppercase;
  width: 100%;
}

@media (max-width: 576px) {
  .close img {
    width: 98.57px;
  }
  .mobileBlock {
    z-index: 99999;
  }
  .btn1 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 24px;
    width: 24px;
    right: 10px;
    top: 20px;
    background: #fff !important;
    color: #1d1937 !important;
    font-size: 2rem;
    outline: none;
    border: transparent;
  }
  .close {
    padding-left: 16px;
    padding-bottom: 20px;
  }
  .btn {
    padding: 16px 24px;
    background: #e9463e;
    border-radius: 4px;
    outline: none;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    border: #e9463e;
    font-family: 'Open Sans';
  }
  .btn:active {
    transition: 0.2s;
    transform: scale(0.9);
  }

  .header {
    visibility: visible;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    top: 0;
    left: 0;
    font-size: 13px;
    font-weight: 400;
    background: #fff;
  }
  .mobileBlock {
    transform: translateX(0);
    left: 0;
    display: block;
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    font-weight: 500;
    transition: transform 0.4s;
  }
  .siteHeader {
    display: flex;
  }
  .nav {
    padding-top: 140px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
