.mobileBlock {
  display: none;
  background: #fff !important;
  opacity: 1;
  position: fixed;
  z-index: 9999;
  color: #1d1937;
}

.pageChild li {
  border-bottom: none;
  margin: 0;
  font-size: 18px;
}
.close {
  padding-top: 20px;
  color: #fff;
  width: 100%;
}
.closesIcon {
  color: #000;
  position: absolute;
  font-weight: 400;
  right: 8px;
  font-size: 22px;
}
.hasChild:hover .pageChild {
  visibility: visible;
  z-index: 100;
  opacity: 1;
  position: static;
}
.pageChild {
  position: absolute;

  right: 0;
  list-style-type: none;
  margin: 0;
  opacity: 0;
  visibility: hidden;
  background: transparent;

  transition: opacity 0.2;
}
.pageChild::before {
  display: block;
  content: '';
  height: 28px;
  margin-top: -20px;
  -ms-transform: translate(30px, -36px);
  transform: translate(30px, -36px);
  background-color: transparent;
}
.pageChild li {
  margin-bottom: 18px;
  color: var(--text-color);
  transition: all 0.25s;
}
.pageChild li:hover {
  color: var(--primary-color);
}
.pageChild li:last-child {
  margin-bottom: 0;
}
.hasChild svg {
  position: absolute;
  right: 5px;
  margin-left: 15px;
  font-size: 15px;
  color: #666;
  cursor: pointer;
  display: none;
}
.arrowButton {
  outline: none;
  border: none;
  background: transparent;
}

.top ul {
  display: inline;
  font-size: 18px;
  font-weight: 500;
  padding: 50px 0 40px;
}
.top li {
  padding: 14px 20px;
  width: 100%;
}
.top li {
  list-style: none;
}
.hasChild a {
  text-decoration: none;
  color: inherit;
}

.bottom ul {
  display: inline;
  font-size: 13px;
  padding: 50px 0 40px;
}
.bottom li {
  padding: 14px 20px;
  text-transform: uppercase;
  width: 100%;
}

@media (max-width: 576px) {
  .close img {
    width: 98.57px;
  }
  .header {
    visibility: visible;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
    padding: 10px 16px !important;
    font-size: 13px;
    font-weight: 400;
  }
  .mobileBlock {
    transform: translateX(0);
    left: 0;
    display: block;
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    font-weight: 500;
    transition: transform 0.4s;
  }
  .siteHeader {
    display: flex;
  }
  .nav {
    padding-top: 150px !important;
  }
  .icons {
    padding-top: 200px;
  }
  .icons a {
    padding-left: 20px;
  }
}

@media (max-width: 991px) {
  .header {
    visibility: visible;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
    padding: 10px 16px;
    font-size: 13px;
    font-weight: 400;
    color: #111;
    background: #fff;
  }
  .mobileBlock {
    transform: translateX(0);
    left: 0;
    display: block;
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    font-weight: 500;
    background: #fff;
    color: #111;
    transition: transform 0.4s;
  }
  .siteHeader {
    display: flex;
  }
}
