.about {
  display: flex;
}
.imagesSide {
  flex: 0 0 50%;
  background-color: #f5cb14;
  max-width: 50%;
}
.text {
  width: 363px;
}
.imagesSide img {
  position: relative;
  left: 25%;
  padding-top: 90px;
  padding-bottom: 90px;
}
.textSide {
  flex: 0 0 50%;
  color: #1d1937;
  background-color: #e5e5e5;
}
.row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 35%;
}
.textSide h1 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  font-style: bold;
  margin-bottom: 0;
}
.textSide p {
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
}
.munoText {
  width: 340px;
  padding-top: 200px;
}
.textSide hr {
  height: 4px;
  background-color: #1d1937;
}
.phone {
  display: none;
}
@media (max-width: 576px) {
  .about {
    flex-direction: column-reverse;
  }
  .row {
    padding-left: 0;
  }
  .phone1 {
    display: none;
  }
  .phone {
    display: block;
  }
  .imagesSide {
    padding-left: 16px;
    padding-right: 19px;
    max-width: 100%;
  }
  .imagesSide img {
    left: 0 !important;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .munoText {
    padding-top: 0;
  }
  .munoText h1 {
    font-size: 24px;
    line-height: 40px;
    padding-top: 20px;
  }
  .textSide hr {
    border: transparent;
    width: 255px;
    position: relative;
    right: 40px;
    bottom: 10px;
  }
  .textSide h3 {
    font-size: 17px;
    line-height: 32px;
    font-weight: 400;
    padding-bottom: 20px;
  }
  .textSide {
    padding-left: 16px;
  }
}
@media (max-width: 1400px) {
  .imagesSide img {
    left: 17%;
  }
}
