.massage {
  margin: 0;
  padding: 0;
  background-color: #1d1937;
}
.row {
  display: flex;
  padding: 80px 0;
}
.textSide {
  color: #fff;
  flex: 0 0 50%;
}
.inputs {
  flex: 0 0 50%;
}
.usText {
  width: 437px;
  padding-left: 15%;
}
.usText h1 {
  font-size: 64px;
  font-weight: 700;
  line-height: 80px;
  margin-top: 0;
  line-height: 103%;
}
.usText h1 span {
  font-weight: 300;
}
.usText hr {
  height: 4px;
  background-color: #fff;
  position: relative;
  bottom: 40px;
  width: 425px;
}
.textSide h3 {
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  line-height: 131%;
  margin-top: 0;
  position: relative;
  bottom: 20px;
  padding-left: 15%;
}
.email input {
  width: 100%;
  padding: 15px 10px;
  border: transparent;
  outline: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.text input {
  width: 100%;
  padding-top: 15px;
  padding-left: 10px;
  margin-top: 32px;
  padding-bottom: 100px;
  border: transparent;
  outline: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.inputSide {
  padding-left: 16px;
  padding-right: 19px;
}
.btn {
  background-color: #1d1937;
  margin-top: 30px;
  color: #fff;
  border: 2px solid #fff;
  padding: 15px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 5%;
  outline: none;
  line-height: 24px;
}
.btn:active {
  transform: scale(0.9);
}
.btn:hover {
  background-color: #fff;
  color: #1d1937;
  outline: transparent;
  cursor: pointer;
}
.textSide a:hover {
  text-decoration: underline;
}
@media (max-width: 576px) {
  .row {
    display: block;
    padding: 40px 0 !important;
  }
  .btn:hover {
    background-color: #fff;
    border-color: transparent;
  }
  .usText {
    padding-left: 0;
  }
  .textSide h3 {
    padding-left: 0;
    font-size: 15px;
    font-weight: 400;
    line-height: 27px;
  }
  .inputSide {
    padding-left: 0;
    padding-right: 0;
  }
  .inputs {
    right: 0;
  }
  .email {
    padding-top: 0;
  }

  .usText {
    width: 274px;
  }
  .usText hr {
    width: 274px;
  }
  .usText h1 {
    font-size: 40px;
    font-weight: 400;
    line-height: 56px;
  }
  .usText h1 span {
    font-weight: 700;
  }
  .email input {
    width: 100%;
  }
  .text input {
    width: 100%;
  }
  .textSide {
    padding-bottom: 0;
  }
  .btn {
    margin-top: 20px;
    margin-bottom: 30px;
    outline: none;
  }

  .br {
    display: none;
  }
}
/* @media (max-width: 1400px) {
  .inputs {
    right: 100px;
  }
} */
